---
import {Image} from "astro:assets";
    import cara from "../images/cara.jpg"
---

<h1>¡Hola, soy Osmi! <span>👋</span> </h1>
<p>Bienvenido a mi humilde portfolio.</p>

<Image src={cara} alt="Fondo caricatura"/>



<style>












</style>